#  House price prediction using linear  regression

In [1]:
#importing necessary packages

import pandas as pd

In [2]:
# importing house price data

hp= pd.read_csv('hp_data.csv')

In [3]:
hp.shape

(3500, 10)

In [4]:
hp.head()

,Unnamed: 0,price,place,built,sqft,sale,yearsOld,floor,totalFloor,bhk
0,1341,6300000,BTM Layout,Super built-up Area,1450,Resale,5,1,4,1
1,2126,11500000,Yelahanka,Super built-up Area,2190,Resale,5,3,5,3
2,816,3800000,Whitefield,Super built-up Area,1019,Resale,1,2,5,2
3,2708,10500000,Ambalipura,Super built-up Area,1857,Resale,15,4,5,4
4,1041,11500000,Yelahanka,Super built-up Area,2190,Resale,5,3,5,3

In [5]:
hp.tail()

,Unnamed: 0,price,place,built,sqft,sale,yearsOld,floor,totalFloor,bhk
3495,636,3800000,Whitefield,Super built-up Area,1019,Resale,1,2,5,2
3496,1664,6300000,BTM Layout,Super built-up Area,1450,Resale,5,1,4,1
3497,1252,7350000,Yelachenahalli,Super built-up Area,1330,Resale,10,1,4,1
3498,903,4800000,Abbaiah Reddy Layout,Built-up Area,1200,Resale,10,1,4,1
3499,2183,3800000,Whitefield,Super built-up Area,1019,Resale,1,2,5,2

In [6]:
hp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3500 entries, 0 to 3499
Data columns (total 10 columns):
Unnamed: 0    3500 non-null int64
price         3500 non-null int64
place         3500 non-null object
built         3500 non-null object
sqft          3500 non-null int64
sale          3500 non-null object
yearsOld      3500 non-null int64
floor         3500 non-null int64
totalFloor    3500 non-null int64
bhk           3500 non-null int64
dtypes: int64(7), object(3)
memory usage: 273.5+ KB

In [7]:
hp.describe()

,Unnamed: 0,price,sqft,yearsOld,floor,totalFloor,bhk
count,3500.000000,3.500000e+03,3500.000000,3500.000000,3500.000000,3500.000000,3500.000000
mean,1484.225714,8.067807e+06,1538.163143,7.602000,4.197714,6.371429,4.197714
std,852.423418,4.984973e+06,416.264178,3.803196,4.782410,4.461808,4.782410
min,0.000000,3.800000e+06,1019.000000,1.000000,1.000000,4.000000,1.000000
25%,737.750000,4.800000e+06,1200.000000,5.000000,1.000000,4.000000,1.000000
50%,1492.000000,6.600000e+06,1543.000000,5.000000,3.000000,4.000000,3.000000
75%,2218.250000,1.050000e+07,1784.000000,10.000000,4.000000,5.000000,4.000000
max,2944.000000,4.750000e+07,4856.000000,15.000000,18.000000,29.000000,18.000000

In [8]:
##selecting predictors

X=hp.loc[:,['bhk','sqft','floor','totalFloor','yearsOld',]]

In [9]:
#target variable

y=hp.price

In [10]:
#dividing data into test and train data

from sklearn.model_selection import train_test_split

In [11]:
X_train, X_test,y_train,y_test=train_test_split(X,y,test_size=0.4,random_state=11)

In [12]:
from sklearn.linear_model import LinearRegression

In [13]:
#fitting problem into a linear regression model

lnr1=LinearRegression()

In [14]:
#fitting and training the model

lnr1.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [15]:
y_predict=lnr1.predict(X_test)

In [16]:
from sklearn.metrics import r2_score

In [17]:
r2_score(y_test,y_predict) #model gives approx 82% accuracy

0.8270281433776676